beautifulsoup4
cchardet
deta # TODO: use async version
flask # TODO: migrate to quart
flask-cors
flask-limiter
flask-monitoringdashboard
gunicorn
httpx
lxml
orjson
python-dotenv
round-nutrition
sentry-sdk[flask] # TODO: use quart after migration
thefuzz[speedup]
