beautifulsoup4
deta
faust-cchardet
flask
flask-compress
flask-cors
flask-limiter
gunicorn
httpx
humanize
lxml
orjson
portolan
python-dotenv
pytz
round-nutrition
schedule
sentry-sdk[flask]
thefuzz[speedup]
