beautifulsoup4
cchardet
deta[async]==1.1.0a2
flask-cors
flask-limiter
flask[async]
gunicorn
lxml
orjson
python-dotenv
python-levenshtein
requests
round-nutrition
sentry-sdk[flask]
thefuzz
