<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="/static/css/main.css" />
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='images/favicon.ico') }}"
  />
  <title>SlugTools API</title>
  <script
    src="https://kit.fontawesome.com/f3cf804b93.js"
    crossorigin="anonymous"
  ></script>
  <body>
    <header>
      <a href="/">
        <img src="{{ url_for('static', filename='images/logo.svg') }}" />
        <h2>SlugTools API</h2>
      </a>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer>
      <td>
        <a
          href="mailto:admin@slug.tools"
          target="_blank"
          rel="noopener noreferrer"
          style="text-decoration: none; font-size: 15px; padding-right: 3px"
          ><i class="fa-solid fa-envelope" style="font-size: 20px"></i>Email</a
        >
        <a
          href="https://github.slug.tools"
          target="_blank"
          rel="noopener noreferrer"
          style="text-decoration: none; font-size: 15px; padding-right: 3px"
          ><i class="fa-brands fa-github" style="font-size: 20px"></i>GitHub</a
        >
        <a
          href="https://status.slug.tools"
          target="_blank"
          rel="noopener noreferrer"
          style="text-decoration: none; font-size: 15px; padding-right: 3px"
          ><i class="fa-solid fa-signal" style="font-size: 15px"></i>Status</a
        >
      </td>
    </footer>
  </body>
</html>
