{% extends "base.html" %}

{% block content %}
    <p>A simple REST API that returns detailed and organized data on services pertaining to UC Santa Cruz. <b>Please read the GitHub <a href="https://github.slug.tools">organization</a> and <a href="https://github.slug.tools/api">repository</a> READMEs, as well as the <a href="sources">sources</a> before using this service.</b> Report any bugs, errors, and/or issues in the GitHub <a href="https://github.slug.tools/api">repository</a>.</p>
    <h1>Endpoints</h1>
    <p>All listed endpoints originate from the current URL and return a JSON response.</p>
    {% for i in map %}
        <h3><code>{{ i }}</code></h3>
        <p>{{ map[i]["description"] }}</p>
        {% for j in map[i]["routes"] %}
            <h4 name={{ "#" + j[1:].replace("/", "-") }}>
                {% if "<" in j %}
                    <script type="text/javascript">
                        function theFunction(url) {
                            return prompt("Enter an argument:");
                        }
                    </script>
                    <a onclick="window.open('{{ i }}' + '{{ j.split('<')[0] }}' + theFunction())" style="cursor: pointer">{{ j.split()[0] }}</a> ({{ map[i]["routes"][j]["methods"]|safe }})</a>
                {% else %}
                    <a href={{ i + j }} target="_blank" rel="noopener noreferrer" style="text-decoration: none;">{{ j.split()[0] }}</a> ({{ map[i]["routes"][j]["methods"]|safe }})
                {% endif %}
            </h4>
            <p>{{ map[i]["routes"][j]["description"]|safe }}</p>
        {% endfor %}
    {% endfor %}
{% endblock %}
